<header>
  <a class="return_Link" routerLink="/">
    <fortes-icon name="arrowBack" color="gray900" size="20" />
  </a>
  <h1>Minhas Equipes</h1>
</header>
<main>
  <section>
    <div class="heading">
      <h2>Programação</h2>
      <p>{{ mealFacade.date() | dateISO }}</p>
    </div>

    <div class="meals_container">
      <fortes-tab
        icon="localCafe"
        label="Café"
        [custom]="mealFacade.mealTarget() === 'coffee'"
        (click)="mealFacade.setMealTarget('coffee')"
      />
      <fortes-tab
        icon="restaurant"
        label="Almoço"
        [custom]="mealFacade.mealTarget() === 'lunch'"
        (click)="mealFacade.setMealTarget('lunch')"
      />
      <fortes-tab
        icon="ramenDining"
        label="Janta"
        [custom]="mealFacade.mealTarget() === 'dinner'"
        (click)="mealFacade.setMealTarget('dinner')"
      />
    </div>
  </section>
  <section>
    <fortes-team-table />
  </section>
</main>
