@use "variables" as *;
@use "mixins" as *;

:host {
  @include start($sz-48);
}

h1 {
  color: $gray-900;
  @include subtitle1;
  text-align: center;
}

h2 {
  color: $gray-400;
  @include subtitle1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $clamp2;
}

main,
section {
  display: flex;
  flex-direction: column;
  gap: $sz-8;
  width: 100%;
}

.return_Link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: $sz-32;
  width: $sz-32;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    background-color: $gray-100;
  }
}

.meals_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sz-8;
  width: 100%;
}
