$navi-blue: #10458b;
$vivid-cyan-blue: #0693e3;
$pale-cyan-blue-transparent: #8ed2fc50;
$vivid-green-cyan: #00d084;
$vivid-green-cyan-transparent: #00d08450;
$light-green-cyan: #7bdcb5;
$accent-cyan: #4aeadc;

$gradiente: #3fb38c, #078093;
$white: #fff;

$shadow: 0 2px 8px hsla(212, 12%, 25%, 40%);

$gray-100: #f1f4f9;
$gray-400: #9eb0c7;
$gray-700: #566376;
$gray-900: #383f47;

$ui-error: #ee2c82;
$ui-error-transparent: #ee2c8250;

$sz-48: 3rem;
$sz-32: 2rem;
$sz-28: 1.75rem;
$sz-26: 1.625rem;
$sz-24: 1.5rem;
$sz-20: 1.25rem;
$sz-18: 1.125rem;
$sz-16: 1rem;
$sz-14: 0.875rem;
$sz-12: 0.75rem;
$sz-8: 0.5rem;
$sz-4: 0.25rem;

$radius-1: 0.25rem;

$bold: 600;
$regular: 500;
$light: 400;

$default-transition: 0.3s ease;

$clamp1: clamp(180px, 100%, 360px);
$clamp2: clamp(180px, 100%, 720px);
