@use "variables" as *;
@use "mixins" as *;

:host {
  display: block;
  user-select: none;
  position: relative;
  width: 100%;
}

.select_container {
  padding: 0.825rem;
  background-color: $gray-100;

  border: none;
  border-bottom: 2px solid $navi-blue;
  border-radius: $radius-1 $radius-1 0 0;
  cursor: pointer;

  .placeholder {
    @include paragraph3;
    color: $navi-blue;
    width: 100%;
  }
}

.options_container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 105%;

  background-color: $white;
  border: 1px solid $navi-blue;
  border-radius: $radius-1;
  width: 100%;
  z-index: 1;

  &.active {
    display: flex;
  }

  .option {
    display: block;

    color: $navi-blue;
    text-align: center;
    background-color: transparent;

    width: 100%;
    padding: 0.75rem 0;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: $pale-cyan-blue-transparent;
    }
  }
}
