<form [formGroup]="mealFacade.form">
  <div class="form_field search">
    <fortes-icon name="personSearch" color="gray400" size="20" />
    <input
      type="text"
      id="search"
      placeholder="Pesquisar..."
      formControlName="filter"
    />
  </div>

  <h3>Equipe Setor 1</h3>

  <div class="employees_container" formArrayName="employees">
    @if(mealFacade.loading()) {
      <fortes-box-loading height="208" />
    } 
    
    @if(mealFacade.error()) {
      <fortes-box-error height="208">
        Ops, não foi possivel consultar está refeição. Por favor tente novamente
        mais tarde.
      </fortes-box-error>
    }

    @for(employee of mealFacade.employees.controls; track $index) {
      <div class="employee">
        <span class="employee_name">
          {{ mealFacade.meals()[$index].team.worker.name }}
        </span>
        <fortes-checkbox
          [id]="mealFacade.meals()[$index].id"
          [formControlName]="$index"
        />
      </div>
    }
  </div>

  <div class="details">
    <span>Total</span>
    <span>{{ mealFacade.quantity() }}</span>
  </div>

  <button type="submit">Salvar</button>
</form>
